{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Modification de l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

{#    <a href="{{ path('article_index') }}">Liste des articles</a>#}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
